html, body {
    height: 100%;
    margin: 0 0 0 0;
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
}

.container-top {
    display: flex;
    align-items: center;
    height: 56px;
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
    font-size: 13px;
}

.container-top__row {
    display: inline-flex;
    margin: 8px 200px 6px 0;
    padding: 0 18px 0 30px;
    height: 42px;
    width: 1174px;
    justify-content: space-between;
    align-items: center;
}

.container-top__row__left_corner {
    display: inline-flex;
    align-items: center;
    height: 25px;
    padding: 16px;
    justify-content: center;
}

.left-corner__geolink {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none'%3E%3Cpath fill='%23404040' d='M13.07 3.58l-4 9.98a.5.5 0 0 1-.95-.06L7 9 2.5 7.88a.5.5 0 0 1-.06-.95l9.98-4a.5.5 0 0 1 .65.65z'/%3E%3Cpath fill='%23F12727' d='M13.07 19.58l-4 9.98a.5.5 0 0 1-.95-.06L7 25l-4.5-1.12a.5.5 0 0 1-.06-.95l9.98-4a.5.5 0 0 1 .65.65z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 14px;
    width: 14px;
}

.container-top__row__left-corner__geo-link {
    display: inline-flex;
    align-items: center;
    padding: 0 16px 0 0;
    text-decoration: none;
    color: black;
}

.container-top__row__left-corner__geo-link:hover {
    color: #ff5415;
}

.container-top__row__left-corner__privacy {
    display: inline-flex;
    align-self: center;
    color: #999999;
    text-decoration: none;
}

.container-top__row__left-corner__privacy:hover {
    color: #ff5415;
}

.container-top__row__center {
    
}

.right-corner {
    justify-content: flex-end;
}

.right-corner__favorites {
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23404040' height='36' viewBox='0 0 36 36' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h36v36h-36z' fill='%23fff'/%3E%3Cg clip-rule='evenodd' fill='rgb(203,203,203)' fill-rule='evenodd'%3E%3Cpath d='m1.7798.4664c.32668-.211037.84956-.4664 1.50174-.4664h17.71846c1.1046 0 2 .89543 2 2s-.8954 2-2 2h-15.4c-.88366 0-1.6.71634-1.6 1.6v20.8103c0 1.1045-.89543 2-2 2s-2-.8955-2-2v-22.70726c0-.99627.429203-1.85014.888832-2.42276.239978-.298986.538978-.586499.890968-.81388z'/%3E%3Cpath d='m30.1423 7h-20.1423c-1.65685 0-3 1.34315-3 3v21c0 1.6569 1.34315 3 3 3h20.1423c2.6789 0 4.0146-3.2442 2.1122-5.1304l-7.7252-7.6595c-.3945-.3912-.3945-1.029 0-1.4202l7.7252-7.6595c1.9024-1.8862.5667-5.1304-2.1122-5.1304z'/%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.favorites__notifier {
    width: 27px;
    height: 30px;
}

.notifier__bell {
    width: 17px;
    height: 17px;
}

.favorites__settings {
    display: inline-block;
    position: absolute;
    top: 25px;
}

.main__news__title {
    padding-left: 10px;
}

.title__text {
    margin-bottom: 8px;
    padding-right: 12px;
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
}

.smi {
    color: #0054B9;
    font-weight: bold;
}

.msc {
    color: #6DA2E1;
}

.title__text__link {
    text-decoration: none;
}

.title__text__link:hover {
    color: #ff5415;
}

.covid {
    color: #ee7b00;
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
}

.title__datetime {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #999999;
}

.main__news {
    margin: 0 252px 7px 272px;
    padding-right: 122px;
}

.main__news__list {
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: 0;
}

.list__item {
   list-style: none;
    margin: 8px;
}

.item-icon {
    display: inline-block;
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/26056/1047-1478692902215-square/logo-square");
    background-size: 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}

.item-text {
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
    font-size: 13px;
}

.item__value {
    display: inline-block;
    padding-right: 12px;
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
    font-size: 13px;
}

.item__value__name {
    font-style: inherit;
    margin-right: 6px;
    font-weight: bold;
}

.item__value:first-child {
    padding-left: 12px;
}

.item__value__difference {
    margin-left: 7px;
}

.main__service {
    margin: 0 267px 0 257px;
    padding-right: 122px;
    display: inline-flex;
}

.service__container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    text-decoration: none;
}

.service__container:hover {
    color: #ff5415;
}

.container__text {
    font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;
    font-size: 12px;
    color: black;
}

.container__icon {
    width: 44px;
    height: 44px;
}

.main__search {
    margin-left: 132px;
    display: flex;
    align-content: center;
}

.search__logo {
    display: inline-block;
}

.search__row {
    display: inline-block;
    position: relative;
    top: 32px;
}

.row__input {
    width: 728px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: 2px solid #ffe600;
}

.row__button {
    width: 88px;
    height: 40px;
    border: none;
    background: #ffe600;
    box-sizing: border-box;
    color: black;
    outline: none;
    cursor: pointer;
}

.main__mail-panel {
    width: 180px;
    height: 118px;
    position: absolute;
    left: 1326px;
    top: 9px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.main__covid-panel {
    width: 180px;
    height: 134px;
    position: absolute;
    left: 1326px;
    top: 135px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.main__news-panel {
    width: 180px;
    height: 134px;
    position: absolute;
    left: 1326px;
    top: 275px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.main__whether {
    display: inline-block;
    width: 273px;
    margin-left: 301px;
    margin-top: 8px;
}

.whether__title {
    font-size: 16px;
    color: #0054B9;
}

.whether__map {
    font-size: 13px;
    margin-left: 10px;
    color: #0054B9;
}

.whether__content {
    display: flex;
    align-items: center;
}

.content__icon {
    display: inline-block;
    background-image: url("https://yastatic.net/s3/home-static/2020-10-22-2/common/blocks/weather-icons/general/skc-n.png");
    width: 48px;
    height: 48px;
    background-size: 48px;
}

.content__now {
    font-size: 28px;
    margin-left: 3px;
}

.content__temperature {
    display: inline-block;
    margin-left: 15.9px;
}

.temperature__part {
    font-size: 13px;
    display: block;
}

.main__traffic {

}